html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62,5%;
}


body {
    font-size: 1.6rem;
}

footer {

    color: #333;
    font-size: 1.2rem;
}

div {  
    margin: 40px auto;
}


/* Círculo*/
#grafico-01 {
    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
}

#grafico-01 img {
    width: 100%;
    height: auto;
}

/* Triângulo */
#grafico-02 {
    background: transparent;
    margin: 40px auto;
    width: 200px;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blueviolet;
    width: 60px;
}

#imagem-vetorial {
    width: 100px;
}

#canvas {
    height: 300px;
    width: 300px;
}