

/* 

	Herança

	1. Sobreposição / Sobrescreve
	2. Aplica a último estilo definido
	3. Prioriza estilo específicas (com seletores mais próximos)
	4. Se aplica a todas as propriedades

 */


html {
	font-family: cursive;
	color: #fafafa;
	margin: 0;
}


p {
	color: #ffffff;
	font-weight: bold;
	font-size: 1.5rem;
}

header p {
	color: rgb(255, 0, 0);
	font-size: 1rem;
}


/* 

	Combinadores 
	
	(espaço) seletor descendente 
	(>) combinador de seletores filhos
	(+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
	(~) combinador de elementos irmãos geral / após elemento de referência

	
*/


header h2 {
	font-weight: 300;
}


header > h2 {
	font-weight: 200;
}

h2 + p {
	background: rgb(0, 0, 0);
	color: #333;
	font-size: 20px;
}

h2 ~ h5 {
	font-size: 1.2rem;
}

div ~ p {
	text-transform: uppercase;
}


/* Pseudo-classes */

a {
	color: #f00606;
	text-decoration: none; /* o padrão é underline */
	font-size: 1.5rem;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

.trailer {
	font-size: 2rem;
	
} 

.meu-iframe {
	float: left;
}

a:visited {
	color: rgb(37, 201, 15);
	
}

a:active {
	color: rgb(4, 216, 145);
}

a:hover {
	color: #009;
	background: rgba (238, 238, 238, 0.95);
}

h2 {
	font-weight: bold;
	font-size: 20px;
	color: #6bf782;
	font-family: 'Cormorant Upright', serif;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Righteous', cursive;
}

h2:hover {
	color: rgb(138, 5, 5);
}


/* 
	Tipografia
*/

html {
	font-family: sans-serif;
}

h1, h3 {
	font-weight: 400px;
	font-family: 'Cormorant Upright', serif;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Righteous', cursive;
	color: rgb(17, 180, 3);
}



ul {
	padding-left: .5rem;
	margin-left: .5rem;
}


li {
	letter-spacing: 0.01rem;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: rgb(02, 05, 255);
	
}

.preencha {
	color: rgb(78, 212, 0);
	font-size: 25px;
	
}



.classe {
	margin-right: 30px;
	border: 0.8px ;
	overflow: hidden;
	cursor: pointer;
}

.cafe {
	float: left;
	background-color: #000000;
	margin: auto;
	}


.classe:hover {
	background-color: #15f33a;
	
}

.classe1:hover {
	background-color: #15f33a;
	
}

li:hover {
	
	color: rgba(155, 140, 100, 80);
	}

h3 {
	/* declaração resumida / completa */
	color: #eee;
	font-family: 'Righteous', cursive;
	font-size: 50px;
}

h4 {
	font-family: 'Cormorant Upright', serif;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Righteous', cursive;
	font-size: 30px;
	
	color: #eee;
}


/* 

	Cores

*/

body {
	background: url('../images/matrix.png') center top repeat #000000;
		
		position: relative;
		object-fit: fill;
		right: 20px;	
		top: 10px;
		margin: 10px;
	}


.p1 {
	letter-spacing: 1rem;
	color: #6bf782;
	font-weight: bold;
	
}

header {
	background-color: #333;
	height: 10px;
	width: auto;
	
}

footer{
	background-color: #020202;
}

footer p:hover {
	background-color: #6bf782;
	color: #f00;
	border-right: 1px;

}
footer p {
	color: rgb(255, 255, 255);
	font-weight: bold;
}



.navegacao {
	color: rgb(97, 0, 223);
	padding: 0.5rem;
}

.navegacao li a {
	color: rgb(241, 238, 238);
	font-size: 2.0rem;
	border-style: dashed;
	padding: 0%;
	margin: 2px;
	border: 1px solid;
	overflow: hidden;
	cursor: pointer;
	border-color: #6bf782;
}

.navegacao li a:hover {
	background-color: #6bf782;
	color: #f00;
	border-right: 1px;


}


.titulo {
	color: #eee;
	font-size: 2.0rem;
}